@font-face {
    font-family: 'di';
    src: url('varsity_regular.ttf') format('opentype');
    font-weight: normal;
  }
  
  body {
    background-image: url("images/DEV02.jpg");
    background-position: center;
    background-size: auto;
    -webkit-text-stroke: 0.3px rgb(233, 13, 13);
    font-family: 'di';
    text-align: center;
    color: #fafafa;
  }
  
  main {
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(9px); /* Adiciona o efeito de desfoque */
    background-color: rgba(41, 33, 33, 0.2); /* Define uma cor de fundo translúcida */
    -webkit-text-stroke: 0.3px rgb(233, 13, 13);
    font-family: 'di';
    text-align: center;
    color: #fafafa;
  }
  
  h2 {
    -webkit-text-stroke: 0.3px rgb(233, 13, 13);
    font-family: 'di';
    text-align: center;
    color: #fafafa;
  }
  
  h1 {
    -webkit-text-stroke: 0.3px rgb(146, 23, 23);
    font-family: 'di';
    text-align: center;
    color: #fafafa;
  }
  
  p {
    text-align: justify;
    -webkit-text-stroke: 0.3px rgb(233, 13, 13);
    font-family: 'di';
    text-align: center;
    color: #fafafa;
  }
  
  a {
    -webkit-text-stroke: 0.3px rgb(233, 13, 13);
    color: #eadada; /* Cor do texto */
    text-decoration: none; /* Remover sublinhado */
    transition: color 0.3s ease; /* Transição suave da cor */
  }
  
  a:hover {
    color: #ff0000; /* Cor do texto ao passar o mouse */
  }
  
  /* Estilizando os ícones */
  img {
    vertical-align: middle; /* Alinhar verticalmente com o texto */
    margin-right: 5px; /* Espaçamento entre o ícone e o texto */
  }