
  
  body {
    background-image: url("images/guillermo-ferla-Oze6U2m1oYU-unsplash.jpg");
    width: 100%;
    height: 400px;
    background-position: center;
    -webkit-text-stroke: 0.3px rgb(233, 13, 13);
    font-family: 'Aleo';
    font-size: 20px;
    color: #fafafa;
  }
  
  main {
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(7px); /* Adiciona o efeito de desfoque */
    background-color: rgba(41, 33, 33, 0.2); /* Define uma cor de fundo translúcida */
    -webkit-text-stroke: 0.3px rgb(233, 13, 13);
    font-family: 'Aleo';
    color: #fafafa;
  }
  
  h2 {
    -webkit-text-stroke: 0.3px rgb(233, 13, 13);
    font-family: 'di';
    text-align: center;
    color: #fafafa;
  }
  
  h1 {
    -webkit-text-stroke: 0.3px rgb(146, 23, 23);
    font-family: 'di';
    text-align: center;
    color: #fafafa;
  }
  
  p {
    text-align: justify;
    font-size: 18px;
    -webkit-text-stroke: 0.3px rgb(233, 13, 13);
    font-family: 'di';
    text-align: center;
    color: #fafafa;
  }
  
  a {
    -webkit-text-stroke: 0.3px rgb(233, 13, 13);
    color: #eadada; /* Cor do texto */
    text-decoration: none; /* Remover sublinhado */
    transition: color 0.3s ease; /* Transição suave da cor */
  }
  
  
  /* Estilizando os ícones */
  img {
    vertical-align: middle; /* Alinhar verticalmente com o texto */
    margin-right: 5px; /* Espaçamento entre o ícone e o texto */
    display: flex;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
  }
  
  .image-container {
    flex: 0 0 auto;
    width: 400px;
    padding: 180px;
    margin: auto;
  }
  
  .text-container {
    flex: 1 1 auto;
  }
  
  .image-container img {
    max-width: 100%;
    height: auto;
  }
  
  .button {
    position: relative;
    width: 120px;
    height: 80px;
    background-color: #000;
    display: flex;
    align-items: center;
    color: white;
    flex-direction: column;
    justify-content: center;
    border: none;
    padding: 12px;
    gap: 12px;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .button::before {
    content: '';
    position: absolute;
    inset: 0;
    left: -4px;
    top: -1px;
    margin: auto;
    width: 128px;
    height: 48px;
    border-radius: 10px;
    background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
    z-index: -10;
    pointer-events: none;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .button::after {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
    background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
    transform: translate3d(0, 0, 0) scale(0.95);
    filter: blur(20px);
  }
  
  .button:hover::after {
    filter: blur(30px);
  }
  
  .button:hover::before {
    transform: rotate(-180deg);
  }
  
  .button:active::before {
    scale: 0.7;
  }
  .card {
    display: flex;
    height: 70px;
    width: 270px;
  }
  
  .card svg {
    position: absolute;
    display: flex;
    width: 60%;
    height: 100%;
    font-size: 24px;
    font-weight: 700;
    opacity: 1;
    transition: opacity 0.25s;
    z-index: 2;
    cursor: pointer;
  }
  
  .card .social-link1,.card .social-link2,.card .social-link3,.card .social-link4 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    color: whitesmoke;
    font-size: 24px;
    text-decoration: none;
    transition: 0.25s;
    border-radius: 50px;
  }
  
  .card svg {
    transform: scale(1);
  }
  
  .card .social-link1:hover {
    background-color: #1a1e22;
    animation: bounce_613 0.4s linear;
  }
  
  .card .social-link2:hover {
    background-color: #0a66c2;
    animation: bounce_613 0.4s linear;
  }
  
  .card .social-link3:hover {
    background-color: #0059f7;
    animation: bounce_613 0.4s linear;
  }
  
  .card .social-link4:hover {
    background-color: #1d4292;
    animation: bounce_613 0.4s linear;
  }
  
  @keyframes bounce_613 {
    40% {
      transform: scale(1.4);
    }
  
    60% {
      transform: scale(0.8);
    }
  
    80% {
      transform: scale(1.2);
    }
  
    100% {
      transform: scale(1);
    }
  }